---
import { ToastWithTitle } from '@/components/UseToastExample'
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'

const title = 'Welcome to Manu´s Page.'
---

<Layout title={title} description="Pagina de inicio" keywords="Pagina de inicio">
  <div slot="main">
    <ToastWithTitle client:load />
  </div>
</Layout>
