---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import { Button } from '@/components/ui/button'

title: 'Home'
---

<Layout title="Welcome to Astro.">
  <div slot="main">
    <Button>TEST- shadcn-ui</Button>
  </div>
</Layout>
