---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import { Button } from '@/components/ui/button'
import { Carousel, CarouselContent, CarouselItem, CarouselNext, CarouselPrevious } from '@/components/ui/carousel'

const title = 'Welcome to Manu´s Page.'
---

<Layout title={title}>
  <div slot="main">
    <Button>TEST- shadcn-ui</Button>
  </div>
</Layout>
